@import "adaptive550.css";

body {
    font-family: 'Inter', sans-serif;
    background: #f6b1b1;
}

ol {
    list-style-position: inside;
}

p, h2 {
    font-weight: 700;
}

span {
    font-weight: 400;
}
    

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: block;
}

.header__title {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    padding-top: 67px;
    padding-bottom: 41px;
}

.expenses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 58px;
}

.expenses__money {
    background-color: #fff;
    font-size: 32px;
    line-height: 39px;
    padding: 10px 22px;
    border: 1px solid #000000;
    border-radius: 10px;

}

.expenses__input {
    width: 80%;
    border: none;
    font-style: inherit;
}

.expenses__money::after {
    content: "руб.";
}

button {
    color: white;
    font-size: 32px;
    line-height: 39px;
    border-radius: 10px;
    cursor: pointer;
}

.expenses__btn {
    background-color: #0094FF;
    padding: 10px 109px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 66px;
    font-size: 32px;
    line-height: 39px;
}

.limit {
    padding-bottom: 13px;
}

.sum {
    padding-bottom: 35px;
}

.stat {
    padding-bottom: 123px;
}

.reset__btn {
    background-color: #e25252;
    padding: 10px 73px;
}

.cash__flow {
    width: 486px;
}

.category__select {
    width: 100%;
    font-size: 32px;
    line-height: 39px;
    padding: 10px 22px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 65px;
}

.js-history {
    overflow: scroll;
    height: 200px;
    padding: 5px;
}


